.App {
	text-align: center;
	background: rgb(255, 0, 189);
	background: linear-gradient(
		90deg,
		rgba(255, 0, 189, 1) 0%,
		rgba(40, 141, 255, 1) 54%,
		rgba(0, 255, 231, 1) 100%
	);
}
h1 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 78px;
	color: aqua;
}
